<div class="container price" id="price">
    <h3 class="text-center ">Price Table</h3>
    <div class="sublinhado" ></div>
    <div class="row">
        <div class="col text-center">
            <div class=" linha-1">$<span>12</span> / month</div>
            <div class=" linha-2">Basic </div>
            <div class=" linha-3">FREELANCER</div>
            <div class="border ">1000 video lessons</div>
            <div class="border ">Normal speed</div>
            <div class="border ">500 solved exercises</div>
            <div class="border ">300MB to save your code</div>
            <div class="border ">750 hours of support</div>
            <div class="border "><button>Sing up</button></div>   
        </div>
        <div class="col text-center">
            <div class="linha-4">$<span>35</span> / month</div>
            <div class="linha-5">Ultimate </div>
            <div class="linha-6">BEST VALUE</div>
            <div class="border ">3000 video lessons</div>
            <div class="border ">2x speed</div>
            <div class="border ">2000 solved exercises</div>
            <div class="border ">500MB to save your code</div>
            <div class="border ">900 hours of support</div>
            <div class="border "><button>Sing up</button></div>   
        </div>
        <div class="col text-center">
            <div class=" linha-1">$<span>75</span> / month</div>
            <div class=" linha-2">Platinum </div>
            <div class=" linha-3">BIG COMPANY</div>
            <div class="border ">5000 video lessons</div>
            <div class="border ">4x speed</div>
            <div class="border ">4000 solved exercises</div>
            <div class="border ">900MB to save your code</div>
            <div class="border ">Unlimited hours of support</div>
            <div class="border "><button>Sing up</button></div>   
        </div>
    </div>

</div>    
