<div class="features mx-auto" id="features">
    <h3 class="text-center mt-5">Features</h3>
    <div class="bordaTitulo "></div>

    <div class="icones row mt-5 ">
        <div class="col-3 text-center"><i class="fas fa-mobile-alt green"></i></div>
        <div class="col-3 text-center"><i class="fas fa-code green"></i></div>
        <div class="col-3 text-center"><i class="far fa-life-ring green"></i></div>
        <div class="col-3 text-center"><i class="fas fa-pencil-alt green"></i></div>
    </div>

    <div class="titulos row">
        <div class="col-3 text-center mt-2">Responsive Design</div>
        <div class="col-3 text-center mt-2">Clean Code</div>
        <div class="col-3 text-center mt-2">24/7 Support</div>
        <div class="col-3 text-center mt-2">Modern Design</div>
    </div>

    <div class="conteudo row mt-3">
        <div class="col-3 text-center mx-auto">Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit quasi voluptate ipsum, quo itaque aperiam et.</div>
        <div class="col-3 text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit quasi voluptate ipsum, quo itaque aperiam et.</div>
        <div class="col-3 text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit quasi voluptate ipsum, quo itaque aperiam et.</div>
        <div class="col-3 text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit quasi voluptate ipsum, quo itaque aperiam et.</div>
    </div>
    
</div>

