<div class="about mx-auto" id="about">
    <h3 class="text-center mt-5">About us</h3>
    <div class="bordaTitulo "></div>

    <div class="icones row mt-5 ">
        <div class="col-4 text-center"><img src="../assets/img/1.jpg" alt=""></div>
        <div class="col-4 text-center"><img src="../assets/img/2.jpg" alt=""></div>
        <div class="col-4 text-center"><img src="../assets/img/3.jpg" alt=""></div>
    </div>

    <div class="titulos row">
        <div class="col-4 text-center mt-2">John Doe</div>
        <div class="col-4 text-center mt-2">John Doe</div>
        <div class="col-4 text-center mt-2">John Doe</div>
    </div>

    <div class="conteudo row mt-3">
        <div class="col-4 text-center mx-auto">Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit quasi voluptate ipsum, quo itaque aperiam et.</div>
        <div class="col-4 text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit quasi voluptate ipsum, quo itaque aperiam et.</div>
        <div class="col-4 text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit quasi voluptate ipsum, quo itaque aperiam et.</div>
    </div>
    
</div>




<!-- <div class="container">
    <div class="row mx-auto">
        <div class="col-sm-4">
              <div class="well">
                <img src="../assets/img/1.jpg" alt="">
                <P>Joe Doe</P>
           <P>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris in mauris est. Sed leo mauris, tincidunt nec pellentesque non, luctus et purus. Nunc eget varius ligula. Aliquam ut odio vel tortor cursus malesuada. </P>
      </div>                       
        </div>
        <div class="col-sm-4">
            <div class="well">
                <img src="../assets/img/2.jpg" alt="">
                <P>Joe Doe</P>
                <P>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris in mauris est. Sed leo mauris, tincidunt nec pellentesque non, luctus et purus. Nunc eget varius ligula. Aliquam ut odio vel tortor cursus malesuada. </P>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="well">
                <img src="../assets/img/3.jpg" alt="">
                <P>Joe Doe</P>
                <P>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris in mauris est. Sed leo mauris, tincidunt nec pellentesque non, luctus et purus. Nunc eget varius ligula. Aliquam ut odio vel tortor cursus malesuada. </P>
            </div>
        </div>
    </div>
</div> -->
