<div class="container services" id="services">
<h3 class="text-center ">Services</h3>
<div class="sublinhado" ></div>
<section class="row mt-5">
    <div class="col text-center fundo-cinza">
        <i class="far fa-life-ring"></i>
        <h6>24/7 Support</h6>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur molestiae dignissimos voluptas tenetur sapiente fugiat.</p>
    </div>
    <div class="col text-center">
        <i class="fas fa-rocket"></i>
        <h6>Quick Install</h6>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur molestiae dignissimos voluptas tenetur sapiente fugiat.</p>
    </div>
    <div class="col text-center fundo-cinza">
        <i class="fas fa-cogs"></i>
        <h6>Easy to Costomize</h6>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur molestiae dignissimos voluptas tenetur sapiente fugiat.</p>
    </div>
    
</section>
<section class="row">
    <div class="col text-center">
        <i class="fas fa-magic"></i>
        <h6>Another Feature</h6>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur molestiae dignissimos voluptas tenetur sapiente fugiat.</p>
    </div>
    <div class="col text-center fundo-cinza">
        <i class="far fa-life-ring "></i>
        <h6>24/7 Support</h6>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur molestiae dignissimos voluptas tenetur sapiente fugiat.</p>
    </div>
    <div class="col text-center">
        <i class="fas fa-rocket"></i>
        <h6>Quick Install</h6>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur molestiae dignissimos voluptas tenetur sapiente fugiat.</p>
    </div>
</section>
</div>
